/* Genel site yazı tipi ayarı */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Kart stilleri */
  .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 0.95rem;
    color: #6c757d;
  }
  
  /* Buton stilleri */
  .btn {
    border-radius: 50px;
    padding: 10px 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-sm {
    font-size: 0.875rem;
    padding: 5px 10px;
  }
  
  /* Pagination */
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls .page-item {
    margin: 0 5px;
  }
  
  .pagination-controls .page-link {
    border-radius: 50%;
    color: #007bff;
  }
  
  .pagination-controls .page-link:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Başlık ve genel görünüm düzenlemeleri */
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .fixed-image {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  